@media (max-width: 1440px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  .hero-img img {
    width: 96%;
  }
  .hero-text h1 {
    font-size: 28px;
  }
  .hero-pos3 img {
    position: absolute;
    left: 826px;
  }
  .about-btn {
    position: absolute;
    left: 670px;
  }
  .about-blocks{
    flex-wrap: wrap;
    width: 480px;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 451px) {
}
@media (max-width: 400px) {
}
@media (max-width: 376px) {
}
@media (max-width: 320px) {
}
